/*  
    galeria css hoja de estilo
    juan antonio solis
    noviembre de 2020
*/
*{
    margin: 0px;
    box-sizing: border-box;
}

html{
    background-color: burlywood;
}

main{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    margin: 5% 15% 5% 15%;
}

img{
    width: 100%;
    border: 5px solid black;
 }

header,footer{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    
}