/* 
        HOJA DE ESTILO PARA EL EJERCICIO 6
        CREADA POR JUAN ANTONIO SOLIS
        ENERO 2021
*/

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: seagreen;
}

h1{
    color: white;
    text-shadow: 2px 2px 2px black;
    padding: 10px;
}


.caja1{
    width: 50%;
    margin: auto;
    float: center;
    background-color: white;
    border: 7px solid black;
    border-radius: 10px;
    padding: 10px;
    
}

.caja2{
    width: 55%;
    float: left;
    background-color: indianred;
    border: 10px solid darkred;
    color: white;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 10px;
    margin-top: 10px;
}

.caja3{
    width: 55%;
    float: right;
    background-color: sandybrown;
    border: 10px solid brown;
    padding: 10px;
    color: white;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    
    
}

.caja4{
    width: 55%;
    float: center;
    margin: auto;
    background-color: darkblue;
    color: white;
    border: 3px dashed blue;
    padding: 5px;
    margin-top: 145px;
}