/* 
        ESTA ES LA HOJA DE ESTILO PARA EL EJERCICIO 11
        CREADA POR PELAYO
        ENERO 2021
*/

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: darkseagreen;
}

main{
    display: flex;
    flex-direction: column;
}

h1{
    text-align: right;
    color: midnightblue;
    letter-spacing: 40px;
    padding: 20px;
}

.titulofiore{
    border: 1px solid darkolivegreen;
    background-color: darkolivegreen;
    color: white;
    padding: 3px;
    margin-left: 230px;
}

.fiore{
    padding: 10px;
    display: flex;
    flex-direction: row;
    text-align: justify;
}

.fotofiore{
    width:15%;
}

.segundo{
    border: 1px solid darkolivegreen;
    background-color: darkolivegreen;
    color: white;
    padding: 3px;
    margin: 2px;
}

.croce{
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.fotocroce{
    width: 15%;
    margin: auto;
}

.tercero{
    border: 1px solid darkolivegreen;
    background-color: darkolivegreen;
    color: white;
    padding: 3px;
    margin: 2px;
}

.novella{
    padding: 10px;
    display: flex;
    flex-direction: row;
    text-align: justify;
}

.fotonovella{
    width: 15%;
    margin-left: 30px;
}