/*
        HOJA DE ESTILOS PARA EL EJERCICIO 15
        CREADA POR JUAN ANTONIO SOLIS
        MARZO 2021
*/

*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #d4d4d4;
}
img{
    width: 100%;
    border: 8px solid white;
}
.galeria{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 60%;
    grid-gap: 10px;
    margin: auto;
}
h2{
    text-align: center;
    padding: 25px;
}
