/*
        HOJA DE ESTILO PARA LAS FALCILIDADES DEL PORTFOLIO
        CREADA POR JUAN ANTONIO SOLIS 
        FEBRERO 2021
*/
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Orbitron', sans-serif;
    background-color: white;
}

a{
    text-decoration: none;
}
header{
    padding: 40px 0;
    background-color: darkorange;
}

header .logo{
    text-align: left;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px black;
}

header .logo p{
    color: grey;
}

header .categorias{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header .categorias a{
    color: grey;
    margin: 10px 20px;
    font-size: 20px;
    font-weight: 700;
}

header .categorias a.activo{
    color: white;
}

.texto{
    max-width: 80%;
    margin: auto;
    padding: 50px;
    font-weight: 900;
}

.facilidades{
    background-image: url(./valle11.jpg);
    background-size: cover;
}

.video iframe{
    border: 2px solid darkorange;
    border-radius: 20px;
    width: 50%;
    margin: auto;
    display: flex;
}